<header class="bg-[rgba(245,245,245,0.2)] shadow-sm mb-10">
    <div class="navbar">
        <img src="/media/images/placement_logo.png" />
        <div class="nav-links">
            <NavLink href="/people" class="a-links">People</NavLink>
            <NavLink href="/jobs" class="a-links">Jobs</NavLink>
            <NavLink href="/about" class="a-links">About</NavLink>
            <NavLink href="" class="join-btn">Join now</NavLink>
            <NavLink class="sign-up-btn">Sign up</NavLink>
        </div>
    </div>
</header>
